In [4]:
%load_ext autoreload

In [5]:
import sys

if '../' not in sys.path:
    sys.path.append('../')

if '../../keyhold' not in sys.path:
    sys.path.append('../../keyhold')

In [6]:
import pandas as pd

from fxtrade.utils import default_read_function

In [8]:
df = default_read_function('../tests/data/dummy/2023-04.csv')

In [10]:
df.iloc[:100]

                      timestamp     open     high      low    close     volume
Date
2023-04-08 14:30:00  1680931800  3709525  3711000  3707079  3708888   4.814121
2023-04-08 14:45:00  1680932700  3710000  3711891  3708207  3711500   3.810009
2023-04-08 15:00:00  1680933600  3711500  3726172  3710206  3724618  24.052664
2023-04-08 15:15:00  1680934500  3724912  3725996  3717667  3720241  10.863596
2023-04-08 15:30:00  1680935400  3720245  3727000  3717824  3724200   9.227360
...                         ...      ...      ...      ...      ...        ...
2023-04-09 14:15:00  1681017300  3711870  3714560  3710999  3713147   3.507539
2023-04-09 14:30:00  1681018200  3713000  3715071  3712531  3714537   1.163639
2023-04-09 14:45:00  1681019100  3714278  3715071  3711882  3712499   4.009936
2023-04-09 15:00:00  1681020000  3713859  3714224  3708554  3708554  12.960779
2023-04-09 15:15:00  1681020900  3708554  3708772  3700000  3704071  42.923815

[100 rows x 6 columns]

In [12]:
pd.DataFrame().sort_index()

Empty DataFrame
Columns: []
Index: []

In [43]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta

def pseudo(s, t, dt):
    index = np.arange(s, t, dt)
    columns = ['timestamp', 'open', 'high', 'low', 'close', 'volume', 'other1', 'other2']
    
    df = pd.DataFrame(index=index, columns=columns)
    df['timestamp'] = [ int(t.timestamp()) for t in df.index ]
    
    df[['open', 'high', 'low', 'close']] = np.random.normal(3700000, 100000, (len(index), 4))
    df[['volume', 'other1', 'other2']] = np.random.normal(30, 10, (len(index), 3))
    
    arr = np.array(df.index)
    np.random.shuffle(arr)
    
    return df.loc[arr].copy()

In [44]:

s = datetime(2022, 2, 1)
t = datetime(2022, 2, 15)
dt = timedelta(minutes=1)

df = pseudo(s, t, dt)

In [45]:
df

,timestamp,open,high,low,close,volume,other1,other2
2022-02-01 00:00:00,1643673600,3.674866e+06,3.702907e+06,3.817135e+06,3.624783e+06,15.106337,35.491433,24.295211
2022-02-01 00:01:00,1643673660,3.737036e+06,3.669390e+06,3.721771e+06,3.738750e+06,44.286287,42.527546,34.300496
2022-02-01 00:02:00,1643673720,3.700644e+06,3.703213e+06,3.650573e+06,3.574996e+06,22.376981,5.650256,30.784018
2022-02-01 00:03:00,1643673780,3.664764e+06,3.470637e+06,3.765370e+06,3.893278e+06,15.690089,24.326257,38.911463
2022-02-01 00:04:00,1643673840,3.735149e+06,3.684131e+06,3.605645e+06,3.747478e+06,46.327343,27.908050,39.557553
...,...,...,...,...,...,...,...,...
2022-02-14 23:55:00,1644882900,3.742095e+06,3.736663e+06,3.587684e+06,3.763360e+06,37.233585,16.567477,22.571890
2022-02-14 23:56:00,1644882960,3.889326e+06,3.735251e+06,3.723834e+06,3.782392e+06,34.690193,38.674378,22.286235
2022-02-14 23:57:00,1644883020,3.635384e+06,3.536709e+06,3.572115e+06,3.689106e+06,35.099389,8.391044,31.291877
2022-02-14 23:58:00,1644883080,3.922645e+06,3.850297e+06,3.689784e+06,3.579614e+06,27.519222,26.527969,36.015108
2022-02-14 23:59:00,1644883140,3.773222e+06,3.809718e+06,3.673952e+06,3.730496e+06,32.830068,41.335349,25.250560

In [49]:
from fxtrade.utils import focus

In [50]:
focus(df, datetime(2022, 2, 3))

,timestamp,open,high,low,close,volume,other1,other2
2022-02-01 00:00:00,1643673600,3.674866e+06,3.702907e+06,3.817135e+06,3.624783e+06,15.106337,35.491433,24.295211
2022-02-01 00:01:00,1643673660,3.737036e+06,3.669390e+06,3.721771e+06,3.738750e+06,44.286287,42.527546,34.300496
2022-02-01 00:02:00,1643673720,3.700644e+06,3.703213e+06,3.650573e+06,3.574996e+06,22.376981,5.650256,30.784018
2022-02-01 00:03:00,1643673780,3.664764e+06,3.470637e+06,3.765370e+06,3.893278e+06,15.690089,24.326257,38.911463
2022-02-01 00:04:00,1643673840,3.735149e+06,3.684131e+06,3.605645e+06,3.747478e+06,46.327343,27.908050,39.557553
...,...,...,...,...,...,...,...,...
2022-02-02 23:56:00,1643846160,3.693580e+06,3.779281e+06,3.660916e+06,3.646912e+06,37.705796,30.701506,19.913018
2022-02-02 23:57:00,1643846220,3.628623e+06,3.854005e+06,3.781092e+06,3.556193e+06,17.824878,21.658035,37.327608
2022-02-02 23:58:00,1643846280,3.858574e+06,3.709964e+06,3.498778e+06,3.599596e+06,31.535361,34.221275,36.498520
2022-02-02 23:59:00,1643846340,3.547432e+06,3.785611e+06,3.707067e+06,3.697690e+06,54.688653,22.332960,26.585601
2022-02-03 00:00:00,1643846400,3.787947e+06,3.612520e+06,3.779486e+06,3.641583e+06,41.343374,4.579365,39.090249